* {
	box-sizing: border-box;
			}

  #section1 {
    padding-top:120px;
    height: 500px;
    text-align: center;
    color: #fff;
    background-image: url("bugs3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #section2 {
	padding-top: 50px;
    height: 500px;
    color: #fff;
	text-align: center;
	background-image: url("ninja2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #section3 {
    padding-top: 50px;
    height: 500px;
	text-align: center;
    color: #fff;
	background-image: url("gaze.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #section4 {
    padding-top: 50px;
    height: 500px;
	text-align: center;
    color: #fff;
	background-image: url("manila.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
