* {
				box-sizing: border-box;
			}

  #section1 {
    padding-top:120px;
    height: 500px;
    text-align: center;
    color: #fff;
    background-image: url("md.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #5f9ea0;
  }

  #section2 {
		padding-top: 50px;
    height: 500px;
    color: #fff;
	background-image: url("bugs.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #673ab7;
  }

  #section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
		background-image: url("isabella.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #ff9800;
  }

  #section4 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
		background-image: url("gburg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #2dc72d;
  }

  
